.game {
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;

    font-family: Comic Sans MS;
    font-size: 22px;
}

.gameSide table {
    border: solid 1px burlywood;
    min-width: 500px;
    min-height: 500px;
    text-align: center;
}

.gameSide tr, td {
    border: solid 1px burlywood;
}

.gameSide td {
    width: 166px;
    height: 166px;
}

.gameSide img {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
}
